@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

/*NAVIGASI*/
nav ul {
    list-style-type: none;
    background: rosybrown;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav li {
    float: left;
    margin-left: 30px;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    font-weight: bold;
}

a:active {
    background: whitesmoke;
}

/*HEADER OR PROFILE*/
header {
    position: relative;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 1000px;
    margin: auto;
    margin-top: 300px;
    margin-bottom: 300px;
}

.image img {
    width: 350px;
    margin: 0 auto;
    margin-top: -100px;
    margin-left: -40px;
}
.image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.name {
    padding: 70px;
    font-size: 150%;
}

.name span {
    color: rosybrown;
    font-size: larger;
}


/*CONTENT*/
main {
    margin: auto;
    margin-top: 100px;
    margin-right: 150px;
}

#title {
    float: right;
    background: rosybrown;
    padding: 10px 30px;
    margin-right: -60px;
    margin-top: -30px;
    border-radius: 10%;
    color: white;
    font-style: bold;
}
.content {
    /* background: chocolate; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.content .left-content, .left-content1 {
    background: rgb(240, 237, 237);
    padding: 50px;
    font-size: larger;
    /* border-top: grey solid ; */
}

.content .right-content, .right-content1{
    /* background: crimson; */
    padding: 80px;
    font-size: larger;
    border-top: grey solid ;
    border-width: 1px;
}
.text li {
    padding: 10px;
}

.right-content1 .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.right-content1 .box .year {
    min-width: 150px;
}

#contact .right-content1 li {
    list-style-type: none;
    opacity: 50%;
}